@font-face {
    font-family: CaviarDreams;
    src: url(fonts/CaviarDreams.ttf);
}

@font-face {
    font-family: Swiss1;
    src: url(fonts/Swiss721BoldExtendedBT.ttf);
}
@font-face {
    font-family: Swiss2;
    src: url(fonts/Swiss721ExtendedBT.ttf);
}

html {
    background-color: lightgray;
    background-image: url(images/880x495Background.jpg);
    
}

* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
}

.nav {
    background-color: white;
    display: flex;
    justify-content: flex-end;
    margin: 5vh 0px;
    padding: 3vh 0px;
    font-family: Swiss1;
}
.nav li {
    margin: 0px 3%;
    text-align: right;
    font-family: Swiss2;
    font-size: 4vh;
}

.left, .right, .bottom {
    min-height: 20vh;
    background-color: darkgray;
}

.left {
    width: 30%;
}

.right {
    background-color: red;
    width: 70%;
}

.bottom {
    width: 100%;
}
section {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    font-family: CaviarDreams;
}