@font-face {
    font-family: CaviarDreams;
    src: url(fonts/CaviarDreams.ttf);
}
@font-face {
    font-family: Swiss;
    src: url(fonts/Swiss721BoldExtendedBT.ttf);
}

html {
    background-color: gold;
}

* {
    margin: 0px;
    padding: 0px;
}

nav {
    background-color: white;
    padding: 20px 0px;
    border: 2px solid white;
    border-left: none;
    border-right: none;
    text-align: center
}

nav a {
    text-align: none;
    margin: 5%;
    font-size: 3vw;
    font-family: Swiss;
    color: black;
}

section {
    
}